<!DOCTYPE HTML>
<html>
<head>
  <title>Flask-SocketIO Test</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-header">ChessPlusPlus</h1>
      </div>
      <ul>
        <li>
          <a href="/chess?orientation=white">White</a>
          |
          <a href="/chess?orientation=black">Black</a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
