<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="stylesheet" href="static/css/chessboard-0.3.0.min.css" />
  <link rel="stylesheet" href="static/css/style.css" />
  <script src="static/js/chess.js"></script>
</head>
<body>

  <!-- start -->
  <div id="board" style="width: 400px"></div>
  <p>Status: <span id="status"></span></p>
  <p>FEN: <span id="fen"></span></p>
  <p>PGN: <span id="pgn"></span></p>
  <!-- end -->

  <script src="static/js/json3.min.js"></script>
  <script src="static/js/jquery-1.10.1.min.js"></script>
  <script src="static/js/chessboard-0.3.0.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

  <script>
    var init = function() {
      namespace = '/test'; // change to an empty string to use the global namespace

      // the socket.io documentation recommends sending an explicit package upon connection
      // this is specially important when using the global namespace
      var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
      socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
      });

      // event handler for server sent data
      // the data is displayed in the "Received" section of the page
      socket.on('my response', function(msg) {
        $('#log').append('<br>Received #' + msg.count + ': ' + msg.data);
      });

      socket.emit('join', {room: 'game_001'});

      $('form#send_room').submit(function(event) {
        socket.emit('my room event', {room: 'game_001', data: $('#room_data').val()});
        return false;
      });

      //--- start example JS ---
      var board,
        boardEl = $('#board'),
        game = new Chess(),
        squareToHighlight;

      var removeHighlights = function(color) {
        boardEl.find('.square-55d63')
          .removeClass('highlight-' + color);
      };

      // do not pick up pieces if the game is over
      // only pick up pieces for White
      var onDragStart = function(source, piece, position, orientation) {
        if (game.in_checkmate() === true || game.in_draw() === true ||
          piece.search(/^b/) !== -1) {
          return false;
        }
      };

      var makeRandomMove = function() {
        var possibleMoves = game.moves({
          verbose: true
        });

        // game over
        if (possibleMoves.length === 0) return;

        var randomIndex = Math.floor(Math.random() * possibleMoves.length);
        var move = possibleMoves[randomIndex];
        game.move(move.san);

        // highlight black's move
        removeHighlights('black');
        boardEl.find('.square-' + move.from).addClass('highlight-black');
        squareToHighlight = move.to;

        // update the board to the new position
        socket.emit('move', {room: 'game_001', data: game.fen()});
        board.position(game.fen());
      };

      var onDrop = function(source, target) {
        // see if the move is legal
        var move = game.move({
          from: source,
          to: target,
          promotion: 'q' // NOTE: always promote to a queen for example simplicity
        });

        // illegal move
        if (move === null) return 'snapback';

        // highlight white's move
        removeHighlights('white');
        boardEl.find('.square-' + source).addClass('highlight-white');
        boardEl.find('.square-' + target).addClass('highlight-white');

        // make random move for black
        window.setTimeout(makeRandomMove, 250);
      };

      var onMoveEnd = function() {
        boardEl.find('.square-' + squareToHighlight)
          .addClass('highlight-black');
      };

      // update the board position after the piece snap
      // for castling, en passant, pawn promotion
      var onSnapEnd = function() {
        board.position(game.fen());
        socket.emit('move', {room: 'game_001', data: game.fen()});
      };

      var cfg = {
        draggable: true,
        position: 'start',
        onDragStart: onDragStart,
        onDrop: onDrop,
        onMoveEnd: onMoveEnd,
        onSnapEnd: onSnapEnd
      };
      board = new ChessBoard('board', cfg);
      //--- end example JS ---

    }; // end init()
    $(document).ready(init);
  </script>
</body>
</html>
